In [2]:
import json
import pandas as pd
import numpy as np
import pandas as pd

import os

In [3]:
working_directory = os.getcwd()
print (working_directory)

/Users/ttuser/Downloads

In [4]:
file_dir = '/Users/ttuser/Downloads/COVID.csv'

In [5]:
covid_data_df = pd.read_csv(file_dir)

In [6]:
covid_data_df.head(10)

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/29/2020,04/17/2020,9979,3386,527,96
1,04/29/2020,02/08/2020,1,0,0,0
2,04/29/2020,03/05/2020,63,5,3,1
3,04/29/2020,04/09/2020,9019,4803,1253,386
4,04/29/2020,04/03/2020,9389,5523,1688,582
5,04/29/2020,03/25/2020,7457,4803,1395,429
6,04/29/2020,03/21/2020,4713,2663,757,231
7,04/29/2020,03/20/2020,7756,4121,889,237
8,04/29/2020,03/14/2020,1702,684,217,59
9,04/29/2020,04/24/2020,8683,2092,230,18

In [7]:
covid_data_df.drop(['extract_date'], axis=1, inplace=True)

In [8]:
covid_data_df.head(10)

,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/17/2020,9979,3386,527,96
1,02/08/2020,1,0,0,0
2,03/05/2020,63,5,3,1
3,04/09/2020,9019,4803,1253,386
4,04/03/2020,9389,5523,1688,582
5,03/25/2020,7457,4803,1395,429
6,03/21/2020,4713,2663,757,231
7,03/20/2020,7756,4121,889,237
8,03/14/2020,1702,684,217,59
9,04/24/2020,8683,2092,230,18

In [52]:
covid_data_df.dtypes

specimen_date          object
Number_tested           int64
Number_confirmed        int64
Number_hospitalized     int64
Number_deaths           int64
dtype: object

In [58]:
covid_data_df["specimen_date"] = pd.to_datetime(covid_data_df["specimen_date"], infer_datetime_format=True, errors='coerce')

In [59]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [87]:
covid_data_df.dtypes

specimen_date          datetime64[ns]
Number_tested                   int64
Number_confirmed                int64
Number_hospitalized             int64
Number_deaths                   int64
dtype: object

In [ ]:
#specimen_batch_ID = pd.covid_data_df([specimen_date ], index=[append.])

In [ ]:
#covid_data_df["specimen_batch_ID"] = specimen_batch_ID

In [10]:
covid_data_df['specimen_batch_ID'] = np.arange(len(covid_data_df))

In [79]:
#res.drop = covid_data_df[~(covid_data_df['specimen_date'] > '2020')]

In [11]:
covid_data_df.head(10)

,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths,specimen_batch_ID
0,04/17/2020,9979,3386,527,96,0
1,02/08/2020,1,0,0,0,1
2,03/05/2020,63,5,3,1,2
3,04/09/2020,9019,4803,1253,386,3
4,04/03/2020,9389,5523,1688,582,4
5,03/25/2020,7457,4803,1395,429,5
6,03/21/2020,4713,2663,757,231,6
7,03/20/2020,7756,4121,889,237,7
8,03/14/2020,1702,684,217,59,8
9,04/24/2020,8683,2092,230,18,9

In [13]:
output_file_path = "/Users/ttuser/Downloads/COVID.csv"
covid_data_df.to_csv(output_file_path, index=False)

In [86]:
#covid_data_df["specimen_date"]= pd.to_int(covid_data_df["specimen_date"], infer_datetime_format=True, errors='coerce')

AttributeError: module 'pandas' has no attribute 'to_int'

In [91]:
df1 = covid_data_df.set_index('specimen_date')

In [92]:
df1.drop(df1.loc[df1['specimen_date'] > '09/28/2021'].index, inplace=True)

KeyError: 'specimen_date'