### Database
####Preprocessing
Below preprocessing operations were done on the original data before storing them into a database:

Visual Studio Code was used to clean or compare python scripts as needed and was used to update the markdown.
The Pandas library was used to clean the dataset.Uneccesary columns were dropped.
The SQL database contains three tables, where specimen_batch_ID is our only primary key.
After the data files were cleaned, they were imported into Postgres using SQL and then combined with SQL joins.
To summarize the findings, the joined dataset was exported from PgAmin.
At first we import the required packages to import, investigate and plot data: pandas, numpy and matplotlib.

In [1]:
# Importing our dependencies
import psycopg2
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [2]:
"postgresql://[user]:[password]@[location]:[port]/[database]"

'postgresql://[user]:[password]@[location]:[port]/[database]'

In [3]:
from config import db_password

In [4]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Covid-19"

In [5]:
def connect(db_string):
    
    conn = None
    try:
        print('Connecting to the PostgreSQL database...')
        connect = psycopg2.connect(db_string)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    print("Connection successful")
    return connect

In [6]:
def postgresql_to_dataframe(conn, select_query, column_names):
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [7]:
engine = create_engine(db_string)

In [8]:
# Connect to the database
conn = psycopg2.connect(db_string )
column_names = ["specimen_date","Number_tested","Number_confirmed","Number_hospitalized","specimen_batch_ID","Number_deaths"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from COVID_df", column_names)
df

,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,specimen_batch_ID,Number_deaths
0,2020-04-17,9979,3386,527,0,96
1,2020-02-08,1,0,0,1,0
2,2020-03-05,63,5,3,2,1
3,2020-04-09,9019,4803,1253,3,386
4,2020-04-03,9389,5523,1688,4,582
...,...,...,...,...,...,...
176089,2020-11-18,21551,2483,163,176143,41
176090,2021-03-17,13961,1678,166,176144,27
176091,2020-03-09,401,89,36,176145,19
176092,2021-09-10,14573,503,38,176146,0
176093,2020-09-04,18765,1648,147,176147,33