In [1]:
# Importing our dependencies
import psycopg2
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [2]:
"postgresql://[user]:[password]@[location]:[port]/[database]"

'postgresql://[user]:[password]@[location]:[port]/[database]'

In [3]:
from config import db_password

In [4]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Covid-19"

In [5]:
 def connect(db_string):
    
    conn = None
    try:
        print('Connecting to the PostgreSQL database...')
        connect = psycopg2.connect(db_string)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    print("Connection successful")
    return connect

In [6]:
def postgresql_to_dataframe(conn, select_query, column_names):
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [7]:
conn=psycopg2.connect(db_string)

In [8]:
engine = create_engine(db_string)

In [9]:
# Connect to the database
conn = psycopg2.connect(db_string )
column_names = ["extract_date","specimen_date","Number_tested","Number_confirmed","Number_hospitalized","Number_deaths"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from covid", column_names)
df

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,2020-04-29,2020-04-17,9979,3386,527,96
1,2020-04-29,2020-02-08,1,0,0,0
2,2020-04-29,2020-03-05,63,5,3,1
3,2020-04-29,2020-04-09,9019,4803,1253,386
4,2020-04-29,2020-04-03,9389,5523,1688,582
...,...,...,...,...,...,...
176143,2021-10-01,2020-11-18,21551,2483,163,41
176144,2021-10-01,2021-03-17,13961,1678,166,27
176145,2021-10-01,2020-03-09,401,89,36,19
176146,2021-10-01,2021-09-10,14573,503,38,0
176147,2021-10-01,2020-09-04,18765,1648,147,33